/* CSS Reset */
*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

/* CSS Variables */
:root{
    --navbar-height: 59px;
}

/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}

#navbar::before{
    content: "";
    background-color: #0c0f014d;
    position: absolute;
    top:0px;
    left:0px;
    height: 100%;
    width:100%;
    z-index: -1;
    opacity: 0.7;
}

/* Navigation Bar: Logo and Image */
#logo{
    margin: 10px 34px;
}

#logo img{
    height: 100px;
    margin:-7px -16px;
	border-radius: 15px;
}


/* Navigation Bar: List Styling */

#navbar ul{
    display: flex;
    font-family:'Baloo Bhai', cursive;
	
}

#navbar ul li{ 
    list-style: none;
    font-size: 1.2rem;
}

#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: black;
    background-color: white;
}
a{
	text-decoration: none;
	display: flex;
    justify-content: center;
    align-items: center;
}

#home{
    display: flex;
    flex-direction: column;
    padding:3px 200px;
    height: 550px;
    justify-content: center;
    align-items: center;
}

#home::before{ 
    content: "";
    position: absolute;
    background: url('../Images/bb.jpg') no-repeat center center/cover;
    height: 642px;
    top:0px;
    left:0px;
    width: 100%;
    z-index: -1;
    opacity:0.79;
}

#home h1{
    color:#d09603;
    text-align: unset;
    font-family: 'Baloo Bhai';
}

#home p{
    color: #fffff2;
    text-align: center;
    font-size: 2.0rem;
    font-family: 'Baloo Bhai';
}
/* Utility Classes */
.h-primary{
	text-align:center;
    font-family: 'Bree Serif', serif;
    font-size: 3.8rem;
    padding: 20px;
}

.h-secondary{
    font-family: 'Bree Serif', serif;
    font-size: 2.3rem;
    padding: 12px;
}

.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor:pointer;
}

#services{
    margin: 10%;
    display: flex;
}

#services .box{ 
    border: 2px solid #0e629a;;
    padding: 7px;
    margin: -75px 70px;
    border-radius: 28px;
    background: #fff4f2;
    margin-bottom: 10px;
}

.img{ 
   display: inline-block;
	width: 100%;
	margin: 0%;
	border-radius: 5px;
}

.center{
	font-family: 'Bree Serif', serif;
}

/* Clients Section */
#client-section{ 
    position: relative;
	color: #d09603;
}

#client-section::before{
 content: "";
 position: absolute;
 background: url('../Images/bg.jpg');
 width: 100%;
 height: 100%;
 z-index: -1;
 opacity: 0.3;
}



#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-item{
    padding: 34px;
}

#clients img{
    height: 100px;
}


/* Wide Screens */
@media only screen and (max-width : 1200px) {
html, body {
	background-image: url('../../p1.png');
	height: 100%;
	font-size: 20px;
	}
	
navbar {
	
	height: 100%;
	font-size: 20px;
}

client-section {
	
	height: 100%;
	font-size: 20px;
	
}

}

/* Desktops */
@media only screen and (max-width : 992px) {
html, body {
	background-image: url('../../p1.png');
	height: 100%;
	font-size: 16px;
	}
	
navbar {
	font-family: "Open Sans", sans-serif;
	
	height: 100%;
	font-size: 20px;
}

client-section {
	font-family: "Open Sans", sans-serif;
	
	height: 100%;
	font-size: 20px;
	
}

}

/* Tablets */
@media only screen and (max-width : 768px) {
html, body {
	font-family: "Open Sans", sans-serif;
	
	height: 100%;
	font-size: 12px;

	}
navbar {
	font-family: "Open Sans", sans-serif;
	
	font-size: 20px;
}
client-section {
	font-family: "Open Sans", sans-serif;
	background-color: white;
	height: 100%;
	font-size: 20px;
	
}


}

/* Phones */
 @media only screen and (max-width : 480px) {
html, body {
	font-family: "Open Sans", sans-serif;
	
	height: 100%;
	font-size: 10px;

	}
navbar {
	font-family: "Open Sans", sans-serif;
	height: 100%;
	font-size: 20px;
}
client-section {

	font-family: "Open Sans", sans-serif;
	height: 100%;
	font-size: 20px;	
}
}

/* Custom */ 
@media only screen and (max-width : 320px) {
html, body {
	background-image: url('../Images/p1.png');
	font-family: "Open Sans", sans-serif;
	height: 100%;
	font-size: 8px;
	}
navbar {
	font-family: "Open Sans", sans-serif;
	height: 100%;
	font-size: 20px;
}
client-section {
	font-family: "Open Sans", sans-serif;
	height: 100%;
	font-size: 20px;
	
}

}

body {font-family: Arial, Helvetica, sans-serif;}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #ff4d00;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.9;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #ff4d00;;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

footer{
    background: black;
    color: white;
    padding: 9px 20px;
	text-align: center;
}




